h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

footer {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.center {
    margin: auto;
    width: 50%;
}